<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeaningCloud Text Analysis Api</title>
  </head>
  <body>
    <header>
      <h1 class="">MeaningCloud Text Analysis Api</h1>
    </header>
    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="name"
            type="text"
            name="input"
            value=""
            onblur=""
            placeholder="Text"
          />
          <input
            id="button"
            type="submit"
            name=""
            value="SUBMIT"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Form Results</strong>
        <div id="results"></div>
      </section>

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Error!</h2>
          <p>No data to post. Please put a string of text or a url in the textbox.</p>
        </div>
      </div>
    </main>

    <div class="loader"></div>

    <footer>
      <p>MeaningCloud is a a trademark by MeaningCloud LLC</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
