// font family
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&family=Roboto+Slab&display=swap");

$heading-font: Pacifico;
$subtitle-font: Roboto;
$button-font: Roboto;
$body-font: Roboto Slab;

// colors
$primary: #003f63;
$primary-dark: #001938;
$primary-light: #3e6991;

$secondary: #a1a5a6;
$secondary-dark: #727677;
$secondary-light: #d2d6d7;

$text-on-primary: #ffffff;
$text-on-secondary: #000000;

// font size
$heading-size: 96px;
$heading-size-tab: 50px;

$body-size: 30;
$body-size-tab: 20px;

$footer-size: 90;
$footer-size-tab: 20px;

$button-size: 14px;
$button-size-tab: 90;

/// Base rules
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/// Layout rules
body {
  display: grid;
  height: 100vh;
  grid-template-rows: 150px 1fr 80px;
  grid-template-areas:
    "h"
    "c"
    "f";
}

main {
  grid-area: c;
}

section {
  display: flex;
  margin: 20px;
  justify-content: center;
}

section:nth-child(1) {
  flex-direction: row;

  form {
    display: flex;
    flex-direction: row;
    #name {
      margin-right: 30px;
    }
  }

  div {
    min-height: 200px;
  }
}

section:nth-child(2) {
  flex-direction: column;
  align-items: center;

  strong {
    text-align: center;
  }

  #results {
    margin-top: 20px;
    max-width: 300px;
    word-wrap: break-word;
  }
}

header {
  grid-area: h;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

footer {
  grid-area: f;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

// For tablets and laptops and desktops
@media only screen and (min-width: 600px) {
  section:nth-child(2) {
    #results {
      max-width: 600px;
    }
  }
}

/// Theme rules
body {
  background-color: $primary;
}

header {
  h1 {
    color: $text-on-primary;
    text-align: center;
    font-family: $heading-font;
  }
}

section:nth-child(1) {
  #button {
    background-color: $secondary;
    color: $text-on-secondary;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-family: $button-font;
    font-size: $button-size;
  }
  #name {
    font-weight: bold;
    border: none;
    color: $text-on-secondary;
    font-family: $body-font;
  }
}

section:nth-child(2) {
  strong {
    color: $text-on-primary;
    font-family: $subtitle-font;
  }
  #results {
    background-color: $secondary;
    color: $text-on-secondary;
    font-family: $body-font;
  }
}

footer {
  p {
    color: $text-on-primary;
    text-align: center;
    font-family: $body-font;
  }
}

// For tablets and laptops and desktops
@media only screen and (min-width: 600px) {
  header {
    h1 {
      font-size: $heading-size-tab;
    }
  }
  section:nth-child(1) {
    #button {
      font-size: $body-size-tab;
    }
    #name {
      font-size: $body-size-tab;
    }
  }

  section:nth-child(2) {
    strong {
      font-size: $body-size-tab;
    }
    #results {
      font-size: $body-size-tab;
    }
  }
}
